a {
    text-decoration: none;
    
}
ul {
    padding: 0;
    margin: 0;
}

.btn {
    
    font-family: "Muli-ExtraBold";
    color: #ffffff;
    border-radius: 35px;
    background-color: #0aa566;
}
.title {
    color: #f7ae3b;
    font-size: 50px;
    font-family: "Muli-ExtraBold";
    font-weight: 800;
    line-height: 0.8;
    letter-spacing: -1px;
    margin: 0;
}
.text {
    line-height: 1.94;
    font-family: "Muli-Regular";
    font-size: 18px;
    margin: 0;
}
@font-face {
    font-family: "Muli-Bold";
    src: url(/assets/fonts/Muli-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Muli-BoldItalic";
    src: url(/assets/fonts/Muli-BoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Muli-Italic";
    src: url(/assets/fonts/Muli-Italic.ttf) format("truetype");
}
@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url(/assets/fonts/Muli-Semi-BoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Muli-ExtraBold";
    src: url(/assets/fonts/Muli-ExtraBold.woff) format("woff");
}
@font-face {
    font-family: "Muli-Regular";
    src: url(/assets/fonts/Muli-Regular.woff) format("woff");
}
/* HEADER */
.Header {
    background-image: url(/assets/images/header-bg-img.png);
    padding-bottom: 764px;
    background-position: center;
}
.Header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 65px;

}
.nav__list {
    display: flex;
    letter-spacing: 0.32px;
    list-style-type: none ;
    color: #ffffff;
    
}
.nav__item {
    margin-left: 30px;
}
.nav__item:first-child {
    margin-left: 0;
}
.nav__link {
    font-size: 16px;
    font-family: "Muli-Bold";
    color: #ffffff;
}
.logo__link {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.header__right-content {
    display: flex;
    align-items:center;
}
.Header__personal {
    margin-right: 120px;
}
.personal__list {
    display: flex;
    list-style-type: none ;
    
}
.personal__item {
    margin-left: 45px;
}
.personal__item:first-child {
    margin-left: 0;
}
.social__list {
    display: flex;
    list-style-type: none ;
}
.social__item{
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 11px;
}
.social__item:first-child {
    margin-left: 0;
}
.social__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header__btn {
    margin: 0 auto;
    width: 280px;
    height: 70px;
    padding: 0;
    margin-top: 110px;
    display: flex;
    align-items:center;
    justify-content: center;
    border:none;
}

/* ABOUT */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {
    
    margin-top: 98px;
    margin-bottom: 55px;
}
.about__text {
    max-width: 915px;
    text-align: center;
}
.about__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 915px;
    margin-top: 65px;
    padding-bottom: 107px;
    
}
.about__item {
    border-left: 1px solid #f6edde;
    border-bottom: 1px solid #f6edde;;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1 0 25%; */
    flex-grow: 1;
    flex-basis: 25%;
    box-sizing: border-box;
    height: 190px;
}
.about__item--border-bottom {
    border-bottom: 0;
}
.about__item:first-child, .about__item:nth-child(5) {
    border-left: 0;
}
.about__img {
    margin-top: 30px;
}
.about__item-title {
    margin-top: 30px;
    text-align: center;
    color: #f2612d;
    letter-spacing: -0.5px;
    font-size: 25px;
    font-family: "Muli-ExtraBold";
    font-weight: 800;
}
.about-img--margin-top {
    margin-top: 40px;
}
/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    background-color: #14826f;
    padding-top: 100px;
    
}
.features__title {
    
    line-height: 1.09;
    letter-spacing: -1.1px;
    color: #ffffff;
    font-size: 55px;
    font-family: "Muli-ExtraBold";

}
.features__title-lead {
    color: #cae941;
}
.features__list {
    margin-left: 30px;
}
.features__item {
    list-style-image: url(/assets/images/features-list.png);
    font-family: "Muli-Regular";
    color: #ffffff;
    font-size: 21px;
    font-weight: normal;
    line-height: 1.05;
    padding-left: 15px;
    margin-bottom: 25px;
    
}

.features__item--bold {
    font-family: "Muli-ExtraBold";
}
.features__btn {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    border: solid 2px #f8b231;
    line-height: 1.05;
    font-size: 21px;
    padding: 0;
    height: 60px;
    width: 380px;
}

/* SHOP */
.shop {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    
}
.shop__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 80px;
}
.shop__item:first-child {
    background-color: #632b17;
}
.shop__item:nth-child(2){
    background-color: #178670;
}
.shop__item:nth-child(3){
    background-color: #f7ae3b;
}
.shop__item:last-child {
    background-color: #c3471b;
}
.shop__title {
    font-size: 24px;
    font-family: "Muli-Bold";
    color:#ffffff;
    line-height: 0.92;
    margin: 0;
    margin-top: 30px;
}
.shop__caption {
    font-size: 21px;
    font-family: "Muli-Italic";
    line-height: 1.52;
    color:#ffffff;
}
.shop__btn {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    border: solid 2px #ffffff;
    font-size: 21px;
    padding: 0;
    margin-top: 65px;
    height: 60px;
    width: 200px;
}
/* STORY */
.story {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 160px;
}
.story__title {
    margin-top: 140px;
}
.story__text {
    margin-top: 40px;
    max-width: 510px;
    margin-right: 200px;
}
.story__btn {
    border-radius: 30px;
    font-size: 21px;
    border:none;
    padding: 0;
    margin-top: 60px;
    height: 60px;
    width: 300px;
}
/* REVIEWS */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #672f1b;
    padding-bottom: 80px;

}
.reviews__title {
    margin-top: 120px;
}
.reviews__title--color {
    color: #f2612d;
}
.reviews__content {
    display: flex;
    margin-top: 120px;
}
.reviews__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}
.reviews__preview {
    color:#ffffff;
    font-size: 18px;
    line-height: 1.94;
    max-width: 455px;
    text-align: center;
    font-family: "Muli-Regular";
    margin-top: 65px;
}
.reviews__author {
    line-height: 2.5;
    color: #f7ae3b;
    font-family: "Muli-Semi-BoldItalic";
}
.reviews__control {
    margin-top: 144px;
}
/* BLOG */
.blog {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}
.blog__img {
margin-top: 50px;
}
.blog__content-title {
    font-size: 30px;
    font-family: "Muli-ExtraBold";
    color: #f2612d;
    line-height: 1.33;
    letter-spacing: -0.6px;
    margin: 0;
    margin-top: 220px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.blog__content-date {
    font-size: 16px;
    font-family: "Muli-Regular";
    color: #1e1e1e;
    margin-left: 60px;

    
}
.blog__content-text {
    font-family: 'Muli-Regular';
    font-size: 18px;
    line-height: 1.94;
    max-width: 470px;
    color: #1e1e1e;
    margin: 0;
    margin-top: 40px;
    margin-left: 125px;
}
.blog__content-more {
    color: #1e1e1e;
    font-family: "Muli-ExtraBold";
    font-style: italic;

}
