// main: ./main.less

@media screen and (max-width: 1500px) {
    
    .header {
        &__top {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .nav__item {
        margin-left: 15px;
    }
    .features {
        &__content {
            margin-left: 50px;
        }
        &__title {
            &:after  {
                right: 50px;
            }
        }
        
    }
}
@media screen and (max-width: 1200px) {
    body,html {
        font-size: 9px;
    }
    .header {
        padding-bottom: 500px;
        &__logo {
            top:-40px;
        }
        &__top {
            padding: 0;
            
        }
        &__menu {
            padding-top: 70px;
            flex-direction: column;
            align-items: center;
        }
        &__nav {
            margin-bottom: 40px;
        }
        &__btn {
            width: 250px;
            height: 60px;
        }
    }
    
.story__content {
    padding-left: 30px;
}
.footer__payment {
    margin-left: 40px;
}
    
    
    
    
    
}
@media screen and (max-width: 1120px) {
    .about {
        &__item {
            flex-basis: 50%;
            &--border-bottom {
                border-bottom: 1px solid #f6edde;
            }
            &:nth-child(3) , &:nth-child(7) {
                border-left: 0;
            }
            &:nth-child(7) , &:last-child {
                border-bottom: 0;
            }
        }
        &__text {
            font-size: 2.4rem;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    
    .features {
        padding-bottom: 150px;
        padding-top: 50px;
        &__content  {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translate(0,0)    ;
            -webkit-transform: translate(0,0)    ;
            -moz-transform: translate(0,0)    ;
            -ms-transform: translate(0,0)    ;
            -o-transform: translate(0,0)    ;
        }
        &__img {
            display: none;
        }
        &__title {
            margin-bottom: 100px;
            &__title:after  {
                right: 0;
            }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
        &__item {
        flex-grow: 1;
        flex-basis: 45%;
        }
    }
    
    .shop {
        overflow-x: scroll;
        &__item {
            flex-shrink: 0;
            flex-basis: 40%;
        }
    }
    
    .story__img-item {
        width: 90%;
        height: 90%;
    }
    .reviews:before {
        display: none;
    }
    .blog {
        padding-left: 30px;
        padding-right: 30px;
        &__img {
            width: 500px;
        }
        &__text {
            margin-left: 60px;
        }
    }
    
    .footer {
        &__logo {
            transform: translateX(-55px);
            -webkit-transform: translateX(-55px);
            -moz-transform: translateX(-55px);
            -ms-transform: translateX(-55px);
            -o-transform: translateX(-55px);
        }
        &__top {
            flex-direction: column;
            align-items: center;
        }
        &__information {
        max-width: 240px;
        margin-left: 0;
        }
        &__payment {
            margin-left: 90px;
        }
    }
    
    
}
@media screen and (max-width: 1024px) {
    .features {
        &__content {
            margin-left: 10px;
        }
        &__title {
            font-size: 4.5rem;
            text-align: center;
        }
    }
    .blog {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 120px;
        &__img {
            width: 100%;
        }
        &__right {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            
            &::before {
                display: none;
            }
        }
        &__subtitle {
            margin-left: 0;
        }
        &__date {
            margin-left: 0;
        }
        &__text {
            margin-left: 0;
            font-size: 2.1rem;
        }
    }
    .story {
        &__img {
            display: none;
        }
        &__title {
            margin-top: 40px;
        }
        &__text {
            margin-right: 0;
            font-size: 2.1rem;
        }
    }
    .footer {
        &__goTop {
            right: 80px;
        }
    }
}
@media screen and (max-width: 768px) {
    .header { 
        padding-top: 0;
        &__menu {
        padding-top: 0;
            
        }
        &__logo {
            top: 15px;
            &._active {
                z-index: 6;
                position: fixed;
            }
        }
        &__burger {
            z-index: 100;
            right: 20px;
            top: 20px;
            display: block;
            position: fixed;
            width: 30px;
            height: 18px;
            cursor: pointer;
            & span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #858585;;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }
            &::before,
            &::after {
                content: "";
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            &._active span {
                transform: scale(0) translate(0px, -50%);
            }
            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
        &__content {
            margin-top: 80px;
            
        }
        &__personal {
            margin-right: 70px;
        }
        &__social {
            margin-top: 40px;
            margin-bottom: 40px;
            &::before {
                display: none;
            }
        }
        
    }
    .nav {
        position: fixed;
            top: 0;
            left: -150%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 100px 30px 30px 30px;
            transition: left 0.3s ease 0s;
            overflow: auto;
            z-index: 4;
            
        &__list {
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
        }
        &__item {
            margin: 0;
            margin-bottom: 20px;
        }
        &__link {
            font-size: 4rem;
            
        }
        &::before {
        content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: -110%;
		height: 100px;
		background-color: #ffc401;
        transition: left 0.2s ease 0s;
		z-index: 6;
        }

        &._active {
            left: 0;
        }
        &._active::before {
            left:0;
        }
        
    }
    
    .social__item {
        margin-left: 15px;
    }
    .blog {
        &__img {
            z-index: 1;
        }
    }
    .shop {
        &__item {
            flex-basis: 45%;
        }
    }
    .reviews {
        position: relative;
        z-index: 1;
    }
    .gallery {
        &__img {
            &:before {
                right: 5px;
                bottom: 5px;
            }
        }
    }

}
@media screen and (max-width: 650px) {
    .about {
        &__title {
            margin-top: 50px;
            text-align: center;
        }
        &__text {
            
            max-height: 300px;
        }
    }
    .features {
        
        &__list {
            flex-direction: column;
        }
        &__item {
            flex-basis: 100%;
        }
    }
    .shop {
        &__item {
            flex-basis: 60%;
        }
    }
    .reviews {
        &__title {
            margin-top: 60px;
        }
        &__img {
            display: none;
        }
        &__desc {
            margin-right: 0;
        }
        &:after {
            transform: translate(-10px, 315px);
            font-size: 14rem;
        }
    }
    .footer {
        &__top {
            &-informations {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &__payment {
            margin-left: 30px;
        }
        &__goTop {
            &::after {
                width: 40px;
                height: 40px;
            }
        }
        &__email {
            width: 400px;
        }
    }
}

@media screen and (max-width: 480px) {
    body,html {
        font-size: 8px;
    }
    .header {
        &__social {
            margin-bottom: 40px;
        }
        
    }
    .about {
        &__text {
            font-size: 2.1rem;
        }
    }
    .nav {
        &__item {
            margin-bottom: 15px;
        }
        &__link {
            font-size: 3rem;
        }
    }
    .shop {
        &__item {
            flex-basis: 80%;
        }
        
    }
    .story {
        &__btn {
            width: 220px;
        }
        &__content {
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__text {
            text-align: center;
        }
    }
    .reviews {
        &__content {
            margin-top: 60px;
        }
        &__desc {
            padding-left: 20px;
            padding-right: 20px;
        }
        &:after {
            transform: translate(-10px, 180px);
        }
    }
    .gallery {
        &__content {
            overflow-x: scroll;
        }
        &__img {
            flex-shrink: 0;
            flex-basis: 40%;
        }
    }
    .footer {
        &__logo {
            transform: translateX(-20px);
        }
        &__payment {
            margin-left: 15px;
        }
        &__email {
            width: 300px;
        }
        &__socials {
            padding-left: 10px;
            padding-right: 10px;
            &-wrapper {
                margin-right: 0;
            }
        }
        &__btn {
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 375px) {
    .header {
        padding-bottom: 350px;
        &__logo {
            transform: translateX(-40px);
            left: 30%;
        }
        &__social {
            display: none;
        }
        &__personal {
            margin-right: 0;
        }
        &__content {
            margin-top: 130px;
        }
        &__nav {
            padding-left: 0;
        }
    }
    .about {
        &__text {
            font-size: 1.9rem;
        }
    }
    
    .features {
        &__content {
            margin-left: 0;
            
        }
        &__title {
            font-size: 3.7rem;
        }
        &__item {
            font-size: 1.8rem;
        }
        &__btn {
            width: 300px;
        }
    }
    
    .reviews {
        &__title {
            font-size: 3.5rem;
        }
        &:after {
            font-size: 10rem;
            transform: translate(-10px, 200px);
        }
    }
    .footer {
        &__goTop {
            font-size: 0;
        }
        &__payment {
            &-item {
                margin-right: 5px;
            }
        }
    }

}