// main: ./../main.less

.nav {
    &__list {
        display: flex;
        letter-spacing: 0.32px;
        list-style-type: none ;
        color: #ffffff;
        
    }
    &__item {
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        font-size: 1.6rem;
        font-family: "Muli-Bold";
        color: #ffffff;
        padding-bottom: 4px;
        position: relative;
        
        &:hover {
        &::after {
            transform: scale(1);
        }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 1.5px;
            display: block;
            background-color: #fdfdfda4;
            opacity: 0.4;
            transition: all 0.4s ease 0s;
            transform: scale(0);
        }
    }
}